.state a {
  fill: rgb(167, 238, 145);
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

a.southEast:hover {
  stroke: #d3d3d3 !important;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  fill: #88001d !important;
  cursor: pointer;
}
.northEast:hover {
  stroke: #d3d3d3 !important;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  fill: #004eca !important;
  cursor: pointer;
}
.midAtlantic:hover {
  stroke: #d3d3d3 !important;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  fill: #1d1b99 !important;
  cursor: pointer;
}
.greatLakes:hover {
  stroke: #d3d3d3 !important;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  fill: #74a3fa !important;
  cursor: pointer;
}
.midWest:hover {
  stroke: #d3d3d3 !important;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  fill: #fbff00 !important;
  cursor: pointer;
}
.northernPlains:hover {
  stroke: #d3d3d3 !important;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  fill: #d82424 !important;
  cursor: pointer;
}
.southernPlains:hover {
  stroke: #d3d3d3 !important;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  fill: #df8107 !important;
  cursor: pointer;
}
.pacificNorthwest:hover {
  stroke: #d3d3d3 !important;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  fill: #1d7203 !important;
  cursor: pointer;
}
.mountain:hover {
  stroke: #d3d3d3 !important;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  fill: #ffffff !important;
  cursor: pointer;
}
.southWest:hover {
  stroke: #d3d3d3 !important;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  fill: #0999ac !important;
  cursor: pointer;
}
.california:hover {
  stroke: #d3d3d3 !important;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  fill: #ffd900 !important;
  cursor: pointer;
}
.alaska:hover {
  stroke: #d3d3d3 !important;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  fill: #1b6799 !important;
  cursor: pointer;
}
.hawaii:hover {
  stroke: #d3d3d3 !important;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  fill: #00ffff !important;
  cursor: pointer;
}
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #bf0a30;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}
.allContent {
  min-height: calc(100vh - 50px);
}
.mainContent {
  padding-top: 15px;
}
.footer {
  background-image: url("../assets/flowerbackground2.jpeg");
  width: 100%;
  height: 50px;
  font-family: "Rambla", sans-serif;
  color: rgb(167, 238, 145);
  font-weight: bold;
  border-top: 4px solid #8ebf96;
}
#addFlower {
  background-color: #1d7203;
}
.callout {
  background-image: url("../assets/flowerbackground2.jpeg");
  background-color: rgb(167, 238, 145);
  margin-bottom: 0rem;
  border: 0px;
  border-bottom: 4px solid #8ebf96;
}
.headerText {
  font-family: "Leckerli One", cursive;
  color: rgb(167, 238, 145);
  font-size: 75px;
  font-weight: bold;
  text-shadow: -1px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -1px #fff;
}
.subheaderText {
  font-family: "Rambla", sans-serif;
  color: rgb(167, 238, 145);
  font-weight: bold;
}
.mainContent {
  font-family: "Rambla", sans-serif;
  color: #2f4032;
}
.windowView {
  background-image: url("../assets/upfeathers.png");
  background-color: rgb(167, 238, 145);
}
